<p>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update:'slider-out-9',round: 1}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-9" />
  </div>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update:'slider-out-10',round: 2}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-10" />
  </div>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update:'slider-out-11',round: 3}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-11" />
  </div>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update:'slider-out-12',round: 4}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-12" />
  </div>
</p>