<p>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update:'slider-out-6',min:-100,max:0,value:-20}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-6" />
  </div>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update:'slider-out-7',min:-100,max:100,value:0}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-7" />
  </div>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update:'slider-out-8',min:100,max:200,value:120}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-8" />
  </div>
</p>