<p>
  <div class="slider-demo">
    <div class="right-slider" data-slider-options="{update: 'slider-out-1'}">
      <div class="right-slider-handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-1" />
  </div>
  <div class="slider-demo-vertical">
    <input type="text" class="slider-out" id="slider-out-2" />
    <div class="right-slider right-slider-vertical" data-slider-options="{update: 'slider-out-2'}">
      <div class="right-slider-handle"></div>
    </div>
  </div>
  <div style="clear:left"> </div>
</p>
