.DS_Store
*/**/.DS_Store

log/*.log
tmp/**/*
db/*.sqlite3
config/database.yml
config/initializers/session_store.rb
public/uploads/**/*

public/*.html
public/**/*.html
public/builds/ui
public/builds/goods
public/builds/custom
public/builds/current

nbproject

doc/api
doc/app
