[submodule "vendor/plugins/acts_as_uri_named"]
	path = vendor/plugins/acts_as_uri_named
	url = git://github.com/MadRabbit/acts_as_uri_named.git
[submodule "vendor/right_js/core"]
	path = vendor/right_js/core
	url = git://github.com/rightjs/rightjs-core.git
[submodule "vendor/right_js/goods"]
	path = vendor/right_js/goods
	url = git://github.com/rightjs/rightjs-goods.git
[submodule "vendor/right_js/ui"]
	path = vendor/right_js/ui
	url = git://github.com/rightjs/rightjs-ui.git
