.DS_Store
*/**/.DS_Store

log/*.log
tmp/**/*
db/*.sqlite3
config/database.yml
config/initializers/session_store.rb
public/uploads/**/*

public/*.html
public/**/*.html
public/builds/**/*

nbproject

doc/api
doc/app
