<p>
  <div class="test-container">
    <div class="draggable good" rel="draggable" data-draggable-options="{revert: true}">Devotee</div>
    <div class="draggable evil" rel="draggable" data-draggable-options="{revert: true}">Badass</div>
  </div>
</p>
<p>
  <div class="test-container">
    <div class="droppable" rel="droppable" data-droppable-options="{accept: '.good'}">Heavens</div>
    <div class="droppable" rel="droppable" data-droppable-options="{accept: '.evil'}">Hell</div>
  </div>
</p>
