<ul>
  <li>Firefox versions >= 1.5</li>
  <li>Safari versions >= 3</li>
  <li>Google Chrome all versions</li>
  <li>Internet Explorer versions >=6</li>
  <li>Opera version >= 9.25</li>
  <li>Konqueror versions >= 3.10</li>
</ul>