html, body {
  margin: 0;
  padding: 0;
  background: #612B14;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  color: #DE4200;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, table caption {
  margin-top: 20pt;
  font-weight: normal;
  font-family: "Trebuchet MS", Garuda, sans-serif;
}
h1, h2, h3, h4, label, caption, h2 a {
  color: #7A5E44;
}
h2 a:hover {
  color: #DE4200;
  text-decoration: none;
}
h2.chapter {
  margin-top: 2em;
  border-bottom: 2px solid #CFCEBD;
}
h2 a.top-anchor {
  float: right;
  font-size: 0.7em;
}


/* BEGIN layout */
div#body {
  min-height: 100%;
  min-width: 800px;
}
div#head, div#main, div#foot {
  padding: 1em 8em;
}

div#head {
  background: #453A31;
  border-bottom: .5em solid #846E5D;
  position: relative;
}

a#logo {
  display: block;
  width: 94px;
  height: 94px;
  text-indent: -99em;
  background: url('../images/design.png') no-repeat 0 0;
  -webkit-box-shadow: #222 .2em .2em .4em;
  -moz-box-shadow: #222 .2em .2em .4em;
}
div#slogan {
  position: absolute;
  color: #927B66;
  top: 2em;
  font-size: 130%;
  font-style: italic;
  font-family: Arial;
  margin-left: 120px;
}

div#main-menu {
  position: absolute;
  bottom: -0.5em;
  right: 8em;
}
div#main-menu ul {
  list-style: none;
}
div#main-menu ul li {
  float: left;
  margin-left: 2em;
}
div#main-menu ul li a {
  display: block;
  padding: 8pt 0;
  color: #B0ACA2;
  border-bottom: .5em solid transparent;
}
div#main-menu ul li a:hover,
div#main-menu ul li.current a {
  text-decoration: none;
  border-bottom-color: #DE4200;
  color: #F7F2F0;
}

div#lang-switch {
  position: absolute;
  right: 120pt;
  top: 20pt;
  display: none;
}

div#main {
  background: #F8F6F0;
}
div#info {
  margin-right: 18em;
  padding-bottom: 1em;
}

div#sidebar {
  width: 16em;
  float: right;
}
div#sidebar div.box {
  margin-bottom: 20pt;
}

div#foot {
  color: #6D0D04;
  background: #843412;
  padding-bottom: 2em;
}
div#foot h2 {
  color: #C7B293;
  font-size: 1.3em;
  margin-top: .8em;
  margin-bottom: 1em;
}
div#foot a {
  color: #F7F2F0;
  font-size: .9em;
}
div#foot div#contacts {
  float: right;
  width: 16em;
}

div#foot div#copyright {
  position: absolute;
  margin-top: 3.5em;
  font-size: 80%;
  padding-bottom: 1em;
  color: #A2896E;
}
/* END layout */

/* BEGIN content */
div#api-search input {
  padding: .3em .5em;
  font-size: 1.3em;
  display: block;
  width: 90%;
  background-color: #FFFEFC;
  background-image: url('../images/design.png');
  background-repeat: no-repeat;
  background-position: right -258px;
  border: .2em solid #CFCEBD;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  color: #CFCEBD;
}
div#api-search input:focus {
  background: #FFF;
  color: #444;
  outline:none;
}
div#api-search div.autocompleter ul {
  margin: 0;
  background: #FFFEFC;
}
div#api-search div.autocompleter ul li {
  list-style: none;
  font-weight: normal;
  padding: .5em 1em;
  
}
div#api-search div.autocompleter ul li.current {
  background: #CFCEBD;
}
div#api-search div.autocompleter ul li strong {
  font-weight: normal;
  color: #DE4200;
}
div#api-search div.autocompleter-spinner {
  width: 30px;
  height: 1.4em !important;
  margin-top: .22em;
  background-color: transparent;
  background-image: url('../images/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
div#api-search div.autocompleter-spinner * {
  display: none;
}

/* END content */


/* BEGIN code hightlightning */
div.method > h2 {
  border-bottom: 2px solid #CFCEBD;
  margin-top: 30pt;
}

div.method p.semantic code {
  background: transparent;
  padding: 0;
  border: none;
}

tt {
  background: #DDC;
  padding: 0 4pt;
}
code {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: .9em;
  white-space: pre;
  overflow: auto;
  display: block;
  padding: 1em;
  background: #FFFEFC;
  color: #555;
  border: 4px solid #CFCEBD;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
}

code s, code i, code u, code b {
  font-weight: normal !important;
  text-decoration: none !important;
}

code s, code s * { /* string */
  color: green !important;
}

code s.re {
  color: #880 !important;
}

code s.int { /* number */
  color: blue !important;
}

code s.float {
  color: brown !important;
}

code s.key { /* hash keys */
  color: #880 !important;
}

code i { /* comments */
  color: #BBB !important;
}

code b { /* function return for if else ... */
  font-weight: bold;
  color: #808;
}

code b.var { /* var new this self */
  color: #EE82EE;
  font-weight: bold;
}

code b.rest { /* null false true undefined */
  color: #A52A2A;
}

code b.unit { /* class names */
  color: #088;
}

code u { /* attribute */
  color: #880;
}
code u.method {
  color: #008;
}


/* END code hightlightning */