html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-size: 10pt;
  background: #DDD;
  height: 100%;
}

a {
  color: brown;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin-top: 20pt;
  font-weight: normal;
  font-family: Georgia;
}

h1, h2, h3, h4, label {
  color: #8A7;
}

div#info > h1:first-child {
  margin-top: 0;
}

label {
  font-weight: bold;
  font-family: Verdana;
  display: block;
}

ul#classes-list li label {
  font-size: 1.1em;
}

/* BEGIN Layout */
div#body {
  min-height: 100%;
  background: white;
  margin: 0 100pt;
}

div#head, div#main, div#foot {
  padding: 20pt;
}

div#head {
  background: #DED;
}

a#logo {
  font-size: 4em;
  font-family: Georgia;
}
div#head div#slogan {
  margin-left: 20pt;
}

div#main-menu {
  float: right;
  margin-top: -2.5em;
  margin-right: -10pt;
  font-size: 1.1em;
}

div#main-menu ul {
  list-style: none;
}
div#main-menu ul li {
  float: left;
  margin-right: 1px;
}
div#main-menu ul li a {
  display: block;
  padding: 5pt 10pt;
}
div#main-menu ul li a:hover,
div#main-menu ul li.current a {
  background: #FDD;
  text-decoration: none;
}

div#lang-switch {
  position: absolute;
  right: 120pt;
  top: 20pt;
  display: none;
}
div#lang-switch a {
  margin-left: 5pt;
}

div#sidebar {
  width: 200pt;
  float: right;
  margin-right: -20pt;
}
div#sidebar div.box {
  margin-bottom: 20pt;
}

div#info {
  margin-right: 200pt;
}

div#foot {
  color: grey;
}

/* END Layout */


div#sidebar label {
  font-weight: normal;
  font-family: Georgia;
  font-size: 1.6em;
}

div#api-search input {
  border: 2px solid #DDD;
  padding: 5pt;
  font-size: 1.4em;
  font-weight: bold;
  display: block;
  width: 170pt;
}
div#api-search input:active {
  background-color: #FFD;
}

div#sidebar ul {
  padding-left: 0pt;
  margin-left: 20pt;
}

div#sidebar ul li {
  margin-left: 0pt;
}
div#sidebar ul li a {}

div#sidebar ul li.current {
  list-style: circle;
  font-weight: bold;
}

div.method {
}
div.method > h2 {
  border-bottom: 1px solid brown;
  margin-top: 30pt;
}
div.method > h2 a:hover {
  text-decoration: none;
}

div.method p.semantic code {
  background: transparent;
  padding: 0;
}

div.post > h2:first-child {
  border-bottom: 1px solid #EEE;
}

div.post h2 span.date {
  float: right;
}

div.post h2 a:hover {
  text-decoration: none;
}

p.action-links {
  margin-top: 20pt;
}

div.shot {
  text-align: center;
}
div.shot a, div.shot a:hover {
  text-decoration: none;
}
div.shot img {
  border: 1px solid #DDD;
  padding: 5pt;
}

div#rss-feed {
  padding: 5pt;
}

div#rss-feed img {
  vertical-align: top;
}

div.fx-test {
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: orange;
  color: brown;
}

div.fx-no-bg {
  background: transparent;
  border: 1px solid #EEE;
}
div.fx-right {
  position: absolute;
  margin-left: 440px;
}

p.fx-handler textarea {
  height: 98px;
  width: 398px;
}



/* BEGIN code hightlightning */
code {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  display: block;
  padding: 10pt;
  background: #EEE;
}

code s, code i, code u, code b {
  font-weight: normal !important;
  text-decoration: none !important;
}

code s, code s * { /* string */
  color: green !important;
}

code s.re {
  color: #880 !important;
}

code s.int { /* number */
  color: blue !important;
}

code s.float {
  color: brown !important;
}

code s.key { /* hash keys */
  color: #880 !important;
}

code i { /* comments */
  color: gray !important;
}

code b { /* function return for if else ... */
  font-weight: bold;
  color: #808;
}

code b.var { /* var new this self */
  color: #EE82EE;
  font-weight: bold;
}

code b.rest { /* null false true undefined */
  color: #A52A2A;
}

code b.unit { /* class names */
  color: #088;
}

code u { /* attribute */
  color: #880;
}
code u.method {
  color: #008;
}


/* END code hightlightning */