/** The visual effects demo page additional styles */

div.fx-test {
  width: 180px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: orange;
  color: brown;
}
div.fx-test-container {
  height: 80px;
  width: 180px;
  float: left;
  margin-right: 20pt;
}
div.fx-example-big div.fx-test-container {
  width: auto;
  height: auto;
  float: none;
  margin-right: 0;
  margin-bottom: 10pt;
}

div.fx-no-bg {
  background: transparent;
  border: 1px solid #C4C3B4;
}

div.fx-example textarea {
  height: 78px;
  width: 28em;
  border: 1px solid #C4C3B4;
  background: #FFFEFC;
}
div#scroll-test {
  overflow: scroll;
  line-height: 2em;
}

/* Fx.CSS example styles */
div.green-background { background: green; }
div.blue-color       { color:      blue;  }
