/** The landing page features */
#promo {
  border: none;
}
#promo .right-tabs-list {
  margin: 0;
  padding: 0;
  height: 5em;
  border-bottom: 4px solid #CFCEBD;
}
#promo .right-tabs-list a,
#promo .right-tabs-list a:hover,
#promo .right-tabs-list .right-tabs-current a,
#promo .right-tabs-list .right-tabs-current a:hover {
  top: 0;
  height: 5em;
  line-height: 2em;
  margin-top: 1px;
  padding: 0;
  background: transparent;
  border: none;
}


#promo .right-tabs-list a h1,
#promo .right-tabs-list .right-tabs-current a h1 {
  margin: 0;
  font-style: normal;
}
#promo .right-tabs-list a i {
  font-family: "Trebuchet MS", Garuda, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  margin-top: .2em;
  color: #B4B3A4;
}

#promo .right-tabs-list .right-tabs-current a,
#promo .right-tabs-list .right-tabs-current a:hover {
  border-bottom: 4px solid #DE4200;
}
#promo .right-tabs-list a:hover i,
#promo .right-tabs-list .right-tabs-current a i {
  color: #444;
}


#promo #compact-tab {
  float: none;
  margin-left: 38%;
}
#promo #fast-tab {
  float: right;
}
#promo #compact-tab a {
  top: -1px;
}

#features {
  height: 40em;
}

#features dt {
  font-size: 1em;
  margin-bottom: .1em;
}
#features dt a,
#features dt.right-tabs-current a {
  font-weight: normal;
  color: #444;
  height: 2em;
  line-height: 2em;
  background-color: #FFFEFC;
  border: 1px solid #DFDECD;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  -webkit-box-shadow: #EFEEDD 0px 0px .5em;
  -moz-box-shadow: #EFEEDD 0px 0px .5em;
  background-image: url('../images/design.png');
  background-position: right -422px;
  background-repeat: no-repeat;
}
#features dt.right-tabs-current a {
  background-position: right -472px;
}
#features dt h2 {
  margin: 0;
  display: inline-block;
* display: inline;
* zoom: 1;
  font-size: 1.4em;
  width: 8em;
}
#features dt i {
  font-style: normal;
  color: #555;
}

#features dd ul {
  margin: .4em;
}