<h1>Drag'n'Drop Demo</h1> <% @title_text = "Goods: Drag'n'Drop: Demo" %>
<script type="text/javascript" src="/builds/goods/right-dnd-min.js"></script>
<style type="text/css">
  div.draggable, div.droppable {
    background: orange;
    color: brown;
    border: 1px solid brown;
    float: left;
    width: 10em;
    height: 5em;
    margin-right: 1em;
    text-align: center;
    line-height: 5em;
    cursor: move;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
  }
  div.test-container {
    height: 5em;
  }
  div#draggable-area {
    background: #CFCEBD;
    width:  30em;
    height: 16em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
  }
  
  div.droppable {
    cursor: default;
    background: #FF8;
  }
  
  div.droppable-allow {
    background: #8F8 !important;
    font-weight: bold;
    border: 1px dashed brown;
  }
  div.droppable-deny {
    background: #EEE !important;
    color: #666;
    border-color: #888;
  }
</style>

<p>
  Some standard demo cases for the drag-n-drop feature
</p>

<h2>Simple Draggables</h2>
<p>
  <div class="test-container">
    <div class="draggable" rel="draggable" data-draggable-options="{}">Drag Me</div>
    <div class="draggable" rel="draggable" data-draggable-options="{}">Or Me</div>
  </div>
</p>
<p>
  <div class="test-container">
    <div class="draggable" rel="draggable" data-draggable-options="{revert: true}">I Run Back</div>
    <div class="draggable" rel="draggable" data-draggable-options="{clone: true, revert: true}">I Leave Clone</div>
  </div>
</p>
<p>
  <div class="test-container">
    <div class="draggable" rel="draggable" data-draggable-options="{snap: 50}">I Snap To 50px</div>
    <div class="draggable" rel="draggable" data-draggable-options="{snap: [0, 50]}">I Snap To [0, 50]</div>
  </div>
</p>

<h2>Draggables With Constraints</h2>
<p>
  <div class="test-container">
    <div class="draggable" rel="draggable" data-draggable-options="{axis: 'x', revert: true}">X-Axis Only</div>
    <div class="draggable" rel="draggable" data-draggable-options="{axis: 'y', revert: true}">Y-Axis Only</div>
  </div>
</p>
<p>
  <div class="test-container">
    <div id="draggable-1" class="draggable">100px Range</div>
    <div id="draggable-2" class="draggable">200px Range</div>
  </div>
  <script type="text/javascript">
  // <![CDATA[
    var dims_1 = $('draggable-1').dimensions();
    var dims_2 = $('draggable-2').dimensions();
    
    $('draggable-1').makeDraggable({revert: true, range: {
      x: [dims_1.left - 100, dims_1.left + dims_1.width  + 100],
      y: [dims_1.top  - 100, dims_1.top  + dims_1.height + 100]
    }});
    
    $('draggable-2').makeDraggable({revert: true, range: {
      x: [dims_2.left - 200, dims_2.left + dims_2.width  + 200],
      y: [dims_2.top  - 200, dims_2.top  + dims_2.height + 200]
    }});
  // ]]>
  </script>
</p>
<p>
  <div class="test-container" id="draggable-area">
    <div class="draggable" rel="draggable" data-draggable-options="{range: 'draggable-area'}">I Live In Here</div>
  </div>
</p>

<h2>Simple Droppable</h2>
<script type="text/javascript">
// <![CDATA[
Droppable.Options.onDrop = function() {
  this.element.highlight('green');
};
// ]]>
</script>
<p>
  <div class="test-container">
    <div class="draggable" rel="draggable" data-draggable-options="{revert: true}">Drag Me</div>
    <div class="droppable" rel="droppable">Drop Here</div>
  </div>
</p>

<h2>Selective Droppables</h2>
<p>
  <div class="test-container">
    <div class="draggable good" rel="draggable" data-draggable-options="{revert: true}">Devotee</div>
    <div class="draggable evil" rel="draggable" data-draggable-options="{revert: true}">Badass</div>
  </div>
</p>
<p>
  <div class="test-container">
    <div class="droppable" rel="droppable" data-droppable-options="{accept: '.good'}">Heavens</div>
    <div class="droppable" rel="droppable" data-droppable-options="{accept: '.evil'}">Hell</div>
  </div>
</p>