<h1>Supported Browsers</h1><% @title_text = 'Supported Browsers' %>

<p>
  RightJS is meant to be working in all the modern and some old but still used browsers.
</p>

<p>
  It tested to work with the following browsers
  <ul>
    <li>Firefox versions > 1.5</li>
    <li>Safari versions > 3 and the mobile version</li>
    <li>Google Chrome versions 1 and 2</li>
    <li>Internet Explorer versions 6,7,8</li>
    <li>Opera version > 9</li>
    <li>Konqueror versions 3 and 4</li>
  </ul>
</p>

<h2>Quirks Mode</h2>
<p>
  To make RightJS work correctly with Internet Explorer and Opera browsers you have to
  specify the document type definition on your page.
</p>
<p>
  RightJS has no intention to fix the non-standard quirks mode behavior.
</p>


<h2>The Old Browsers</h2>

<p>
  RightJS tries to concentrate its efforts on the modern browsers, and for this reason,
  despite it provides the basic support of the old browsers like IE 6 and Konq 3, those
  browsers will have low priority in things like performance optimizations and 
  specific browser problems patching.
</p>