<h1>Contacts</h1><% @title_text = 'Contacts' %>
<p>
  Feel free to contact us directly
  <script language="JavaScript" type="text/javascript">
  var i,y,x="3c6120687265663d226d61696c746f3a696e666f4072696768746a732e6f7267223e696e666f4072696768746a732e6f72673c2f613e";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}document.write(y);
  </script>
</p>


<!--h1>Google Group</h1>
<p>
  Or you can find some people on the google talking group.
</p-->

<h1>Participate</h1>
<p>
  If you want to participate in the project, if you spotted a bug or can offer some enhancements, you can easily do so. All the source code of the project is freely available on the GitHub service.
</p>
<p>
  <%= link_to 'http://github.com/rightjs/rightjs-home', 'http://github.com/rightjs/rightjs-home' %>
</p>