<h1>Contacts</h1>
<p>
  Feel free to contact us directly
</p>


<h1>Google Group</h1>
<p>
  Or you can find some people on the google talking group.
</p>

<h1>Participate</h1>
<p>
  If you want to participate in the project, if you spotted a bug or can offer some enhancements, you can easily do so. All the source code of the project are easily available on the GitHub service.
</p>
<p>
  <%= link_to 'http://github.com/MadRabbig/right_js_home' %>
</p>