<h1>Credits</h1><% @title_text = 'Credits' %>

<p>
  RightJS did not appear from nowhere. It has its own ancestors and this page meant to say 'thanks' for all the projects where it takes ideas an inspiration.
</p>

<h2>Prototype</h2>
<p>
  <%= link_to 'Prototype', 'http://prototypejs.org', :target => :_blank %> is the most influential framework for the project. And one of the main intentions of RightJS is to create a cleaner, compacter and faster Prototype. Many interfaces, code organization and other ideas were taken from the framework.
</p>

<h2>MooTools</h2>
<p>
  <%= link_to 'MooTools', 'http://mootools.net', :target => :_blank %> is the other great ancestor of RightJS. Many code optimizations and ideas were taken from the framework. The RightJS css-selectors engine was mainly inspired by MooTools.
</p>

<h2>jQuery</h2>
<p>
  <%= link_to 'jQuery', 'http://jquery.com', :target => :_blank %> brought several ideas for handy methods for DOM manipulations and ajax loads. It also gave some orienteers on how you should not write your code.
</p>

<h2>Dojo</h2>
<p>
  <%= link_to 'Dojo', 'http://dojotoolkit.org', :target => :_blank %> is the first love. Despite that RightJS does not follows dojo's principles directly and went more the way Prototype and MooTools go, it brought much inspiration in the work, performance optimization ideas, etc, etc, etc.
</p>