<h1>Documentation</h1><% @title_text = 'Documentation' %>

<p>
  RightJS pretty well supported with API documentation. And it's growing.
</p>

<h1>Tutorials</h1>
<p>
  Additionally, we have some tutorials and best practices for various
  use-cases.
</p>
<p>
  Please proceed to the <%= link_to 'Tutorials Page', '/tutorials' %>
</p>