<h1>Visual Effects Demo</h1><% @title_text = 'Visual Effects Demo' %>

<p>
  By default RightJS comes with some basic visual effects library and here are some
  demos and a playground where you can test them. Please take a look at the documentation
  for more info and use-cases.
</p>

<script type="text/javascript">
// <!--
function reset(id) {
  $(id).replace('<div id="'+id+'" class="'+$(id).className+'">'+$(id).innerHTML+'</div>');
}
function runfx(id) {
  try {
    $eval($(id+'-script').value);
  } catch(e) {}
}
if (Browser.Opera) {
  document.write('<st'+'yle>div.fx-right {   margin-top: 1em; }</st'+'yle>');
}
// -->
</script>


<h2>Fx.Morph</h2>
<p>
  Fx.Morph is the basic visual effects interface. It allows you to gradually morph
  your element appearance from the current state to the given style or css-class.
</p>

<p>
  <div id="morph-test" class="fx-test">How are ya mate?</div>
</p>
<p class="fx-handler">
<textarea id="morph-test-script">
$('morph-test').morph({
  width: '400px',
  fontSize: '40px',
  background: 'green',
  color: 'yellow'
}, {duration: 'long'});
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('morph-test'); return false;">Reset</a>
    <a href="" onclick="runfx('morph-test'); return false;">Start</a>
  </div>
</p>

<h2>Fx.Highlight</h2>
<p>
  Fx.Highlight is the generic highlighter effect. You can specify start and end colors if you like.
</p>
<p>
  <div id="highlight-test" class="fx-test fx-no-bg">Highlight me!</div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="highlight-test-script">
$('highlight-test').highlight();
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('highlight-test'); return false;">Reset</a>
    <a href="" onclick="runfx('highlight-test'); return false;">Start</a>
  </div>
</p>

<h2>Fx.Fade</h2>
<p>
  Fx.Fade is the opacity effects handler.
</p>
<p>
  <div class="fx-test-holder">
    <div id="fade-test" class="fx-test fx-goods">Fade me!</div>
  </div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="fade-test-script">
$('fade-test')
  .fade()
  .fade();
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('fade-test'); return false;">Reset</a>
    <a href="" onclick="runfx('fade-test'); return false;">Start</a>
  </div>
</p>

<h2>Fx.Slide</h2>
<p>
  <div class="fx-test-holder" style="overflow: hidden;">
    <div id="slide-test" class="fx-test  fx-goods">Slide me!</div>
  </div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="slide-test-script">
$('slide-test')
  .slide()
  .slide({direction: 'left'})
  .slide('out', {direction: 'bottom'})
  .slide('in',  {direction: 'right'})
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('slide-test'); return false;">Reset</a>
    <a href="" onclick="runfx('slide-test'); return false;">Start</a>
  </div>
</p>
<p>&nbsp;</p>
<h1>RightJS Goods Additional Visual Effects</h1>
<script type="text/javascript" src="/builds/goods/right-effects-min.js"></script>

<h2>Fx.CSS</h2>
<style type="text/css">
  div.green-background { background: green; }
  div.blue-color       { color:      blue;  }
</style>
<p>
  <div id="css-test" class="fx-test fx-goods">I can morph to classes!</div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="css-test-script">
$('css-test')
  .morphToClass('green-background')
  .morphToClass('blue-color')
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('css-test'); $('css-test').setClass('fx-test fx-goods'); return false;">Reset</a>
    <a href="" onclick="runfx('css-test'); return false;">Start</a>
  </div>
</p>

<h2>Fx.Move</h2>
<p>
  <div id="move-test" class="fx-test fx-goods">Move me around!</div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="move-test-script">
$('move-test')
  .move({x:  300}, {position: 'relative'})
  .move({y: -200}, {position: 'relative'})
  .move({x: -300}, {position: 'relative'})
  .move({y:  200}, {position: 'relative'});
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('move-test'); return false;">Reset</a>
    <a href="" onclick="runfx('move-test'); return false;">Start</a>
  </div>
</p>

<h2>Fx.Run</h2>
<p>
  <div class="fx-test-holder">
    <div id="run-test" class="fx-test fx-goods">I can run in and out!</div>
  </div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="run-test-script">
$('run-test')
  .run().run() // left by default
  .run('out', {direction: 'top'})
  .run('in',  {direction: 'top'})
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('run-test'); return false;">Reset</a>
    <a href="" onclick="runfx('run-test'); return false;">Start</a>
  </div>
</p>

<h2>Fx.Bounce</h2>
<p>
  <div id="bounce-test" class="fx-test fx-goods">I can bounce!</div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="bounce-test-script">
$('bounce-test').bounce();
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('bounce-test'); return false;">Reset</a>
    <a href="" onclick="runfx('bounce-test'); return false;">Start</a>
  </div>
</p>

<h2>Fx.Puff</h2>
<p>
  <div class="fx-test-holder">
    <div id="puff-test" class="fx-test fx-goods">I can puff out and in!</div>
  </div>
</p>
<p class="fx-handler fx-handler-goods">
<textarea id="puff-test-script">
$('puff-test').puff();
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('puff-test'); return false;">Reset</a>
    <a href="" onclick="runfx('puff-test'); return false;">Start</a>
  </div>
</p>


<h2>Fx.Zoom</h2>
<p>
  <div id="zoom-test" class="fx-test fx-goods">Zoom!</div>
</p>
<p class="fx-handler">
<textarea id="zoom-test-script">
$('zoom-test')
  .zoom(2,   {from: 'left-top', duration: 'long'})
  .zoom(0.5, {from: 'left-top', duration: 'long'});
</textarea>
  <div class="fx-starter">
    <a href="" onclick="reset('zoom-test'); return false;">Reset</a>
    <a href="" onclick="runfx('zoom-test'); return false;">Start</a>
  </div>
</p>
