<h1>Welcome To The Paradise!</h1>

<p>
  RightJS is new JavaScript framework. It takes all the goods from old battle proven frameworks, cleans and refines them up, mixes with new ideas and puts JavaScript development to the whole new level.
</p>
<br/>
<h1>It's Friendly</h1>
<p>
  RightJS oriented to the dynamic languages crowd, it does not have all the long names and complex class constructions like many other frameworks written by Java and C++ developers. It has pretty compact but smart and flexible classes construction, short names and eventually lets you write nice and compact applications code.
</p>

<br/>
<h1>It's Compact And Powerful</h1>
<p>
  RightJS is a really compact framework, it weight less than 30k, but under the hood, it provides almost all the standard goods any JavaScript framework could give you, native classes extensions, advanced DOM manipulations, Ajax support, OOP goods and basic visual effects too. Everything you need for 99% of cases.
</p>

<br/>
<h1>It's Fast</h1>
<p>
  RightJS is fast. It easily competes against any of the modern frameworks. The key is that RightJS uses all the native methods your browser can provide. It molds on your browser, wraps existing functionality and provides missing ones. As the result it is one of the fastest JavaScript frameworks at the day. In WebKit browsers, it is the fastest one.
</p>