<h1>Welcome Home!</h1><% @title_text = 'Home' %>

<p>
  RightJS is a new JavaScript framework. It takes many old, battle proven features, wraps them nicely, mixes
  with some new ideas and features, and as the result provides a tiny, fast and easy to use tool.
</p>

<h1 style="color: red">Why ?</h1>
<p>
  RightJS is all about agility and rapid development. The main idea behind the framework is to create a simple tool
  with natural self explanatory interfaces and really low entry level. Tool that will help you do your job instead of
  expanding your mind.
</p>

<h1>It's Friendly</h1>
<p>
  RightJS oriented to the dynamic languages crowd, it does not have all the long names and complex class constructions like many other frameworks written by Java and C++ developers. It has pretty compact but smart and flexible classes construction, short names. And that eventually lets you write clean, readable and compact applications code.
</p>


<h1>It's Compact And Powerful</h1>
<p>
  RightJS is a really compact framework, it weights just about 35k, but under the hood, it provides almost all the standard goods, native class extensions, advanced DOM manipulations, Ajax support, OOP goods, Cookies handling and basic visual effects too. Everything you need for 99% of cases.
</p>


<h1>It's Fast</h1>
<p>
  RightJS is fast. It easily competes against any of the modern frameworks. The key is that RightJS uses all the native methods your browser can provide. It molds on the browser, wraps existing functionality, and provides missing ones. As the result it is one of the fastest JavaScript frameworks on the day. See the <a href='/benchmarks'>Benchmarks</a> page for more details.
</p>