<h1>Welcome To The Paradise!</h1>

<p>
  RightJS is new JavaScript framework. It takes all the goods from old battle proven frameworks, cleans and refines them up, mixes with new ideas and puts JavaScript development to the whole new level.
</p>

<h1 style="color: red">Why ?</h1>

<p>
  Because of you. Because you want and probably deserve better tools. Tools which small and smart and handy and flexible. Tools which sticks to the standards, which don't make you asking WTF each other time. Tools which actually helps you to get the job done.
</p>

<h1>It's Friendly</h1>
<p>
  RightJS oriented to the dynamic languages crowd, it does not have all the long names and complex class constructions like many other frameworks written by Java and C++ developers. It has pretty compact but smart and flexible classes construction, short names and eventually lets you write nice, readable and compact applications code.
</p>


<h1>It's Compact And Powerful</h1>
<p>
  RightJS is a really compact framework, it weight less than 30k, but under the hood, it provides almost all the standard goods, native classes extensions, advanced DOM manipulations, Ajax support, OOP goods and basic visual effects too. Everything you need for 99% of cases.
</p>


<h1>It's Fast</h1>
<p>
  RightJS is fast. It easily competes against any of the modern frameworks. The key is that RightJS uses all the native methods your browser can provide. It molds on your browser, wraps existing functionality and provides missing ones. As the result it is one of the fastest JavaScript frameworks at the day. In WebKit browsers, it is the fastest one.
</p>