<h1>Page Not Found</h1><% @title_text = 'Not Found' %>

<p>
  The page you are looking for does not exist
</p>

<h1>May be it should?</h1>
<p>
  If you have ideas, feel free to <%= link_to 'contact us', contacts_path %>. We might just write this page for you.
</p>

<p>
  Or if you feel confident enough, you could just write it by yourself, all the source code of the site are freely available through the github servise.
</p>

<p>
  <%= link_to 'http://github.com/MadRabbig/right_js_home' %>
</p>