<h1>Showcases</h1><% @title_text = "Showcases" %>

<p>
  <ul>
    <li><a href="http://stcamp.net/games/sudoku/" target="_blank">Right Sudoku</a> - is the sudoku game implemented with RightJS</li>
  </ul>
</p>
<br/>
<p>
  <a href="mailto:info@rightjs.org?subject=RightJS%20showcase">Add another one!</a>
</p>