<h1>Comparison</h1>

<p>
  A few words about basic differences and similarities between RightJS and other major JavaScript frameworks.
</p>

<h2>Disclaimer</h2>
<p>
  Except the obvious reason of brainwashing and making you use RightJS, this article meant to give you some
  ideas where RightJS is situated (or supposed to be situated) relatively to other JavaScript frameworks.
</p>
<p>
  And I have a humble hope that you understand or at least have a feeling that this is the author's opinion,
  that obviously doesn't have anything to do with other people's reality and therefore should not be trusted.
</p>


<h2>RightJS vs. jQuery</h2>
<p>
  Both quite small, modular and relay on plugins and extensions. Both have quite a lot of short and handy methods.
  And both help you write a compact code.
</p>
<p>
  The main difference between them is that jQuery is more oriented to procedural and functional approaches. 
  RightJS provides basic functional and procedural programming features too, but it's more object-oriented
  and made to be closer to the server-side developers who work with dynamic languages like Ruby and Python.
</p>
<p>
  Another major difference is that jQuery works internally isolating all the processes inside its own scope, RightJS
  on the other hand extends the JavaScript unit prototypes and provides an instant access to most of its features.
</p>

<h4>Pros and Contras</h4>
<ul>
  <li>+ Extensive object-oriented abilities</li>
  <li>+ Immediately available native class extensions</li>
  <li>+ Additional handy features like 'call-by-name'</li>
  <li>+ Shared modules {Observer} and {Options}</li>
  <li>+ More readable and clean syntax</li>
  <li>+ Much better performance</li>
  <li>+ Much more compact and modular UI Library</li>
  <li>+ Cleaner and better organized internal code</li>
  <li>- No safe-mode (at least yet)</li>
</ul>


<h2>RightJS vs. Prototype/Scriptaculous</h2>
<p>
  Prototype and RightJS have quite a lot in common and based on the same principle of <tt>prototype</tt> extensions.
  More of that RightJS inherited the naming principles and many method and class names are the same or similar
  to the ones you might see in Prototype.
</p>
<p>
  The difference between them is that RightJS is a modular framework with a small simple core and plugins, when Prototype
  is more like a monolithic all-in-one framework. Then RightJS is mostly the modern browsers oriented, keeping all the
  old browsers support in a separated module with patches, when Prototype has a special public API for faster elements
  processing on old browsers.
</p>

<h4>Pros and Contras</h4>
<ul>
  <li>+ Modular, plugins oriented structure</li>
  <li>+ Much smaller size</li>
  <li>+ Much better performance</li>
  <li>+ No rarely used code and obsolete features</li>
  <li>+ Cleaner and more compact syntax</li>
  <li>+ Additional features like call-by-name and function extensions</li>
  <li>+ Better and more flexible Fx library</li>
  <li>+ Basic Fx and Cookies support out of box</li>
  <li>+ Own UI library and plugins collection</li>
  <li>- No fast class-level functions (needed only with IE6 and 7 browsers)</li>
</ul>

<h2>RightJS vs. Mootools</h2>
<p>
  RightJS and Mootools are pretty similar too, both started on the road of making a better Prototype, and as the matter
  of fact RightJS cherry-picked quite a few interesting things from Mootools.
</p>
<p>
  But there are several differences between them. Mootools brings quite a lot of functional approach
  features, like carrying and call-chains, and tends to mix them with the object-orented approach providing some
  interesting features and its own way of doing the thins. RightJS comparing to Mootools is a simpler tool. It
  has both functional and object-oriented features, but RightJS keeps them separated allowing a developer to choose
  how he wants to deal with his task.
</p>
<p>
  Another difference is that Mootools tries to bring its own naming system for methods, classes and modules, when
  RightJS tries to stay close to the more or less standard Prototype and Ruby/Python naming principles.
</p>

<h4>Pros and Contras</h4>
<ul>
  <li>+ A bit compacter core and modules</li>
  <li>+ Better performance</li>
  <li>+ More standard, clean and readable syntax</li>
  <li>+ Simplified way of dealing with everyday problems</li>
  <li>+ Better Fx library where you just specify the end result</li>
  <li>- I don't really see any significant contras in here</li>
</ul>


<h2>RightJS vs. YUI and Dojo</h2>

<p>
  Dojo and YUI frameworks are similar and both quite different comparing to RightJS. RightJS is a modern framework
  more like Ruby, when YUI it's more like an equivalent of Java. Dojo is probably closer to Python.
</p>
<p>
  The key difference between them is that YUI and Dojo work inside their own namespaces and you supposed to work
  through their nested API. RightJS on the other hand, provides you an instant access to most of its features so
  that whenever you have an object you can immediately call its functionality, creating chains, etc.
</p>

<h4>Pros and Contras</h4>
<ul>
  <li>+ Smaller, modular library</li>
  <li>+ Let you write much more compact applications code</li>
  <li>+ Instant access to the functionality</li>
  <li>+ Dynamic languages like extensions for the core classes</li>
  <li>+ Functional approach features</li>
  <li>- Doesn't have it's own namespace</li>
</ul>
