<h1>Contacts</h1><% @title_text = 'Contacts' %>
<p>
  Feel free to contact us directly
  <a href="&#x6D;&#x61;i&#x6C;&#x74;&#x6F;:&#105;&#110;&#102;&#111;&#064;&#114;&#105;&#103;&#104;&#116;&#106;&#115;&#046;&#111;&#114;&#103;">&#105;&#110;&#102;&#111;&#064;&#114;&#105;&#103;&#104;&#116;&#106;&#115;&#046;&#111;&#114;&#103;</a>
</p>


<h1>Google Group</h1>
<p>
  You also can find some people on the <%= link_to 'google group', 'http://groups.google.com/group/rightjs', :target => :_blank %>.
</p>

<h1>Twitter</h1>
<p>
  Or you could drop me a line on <%= link_to 'twitter', 'http://twitter.com/rightjs' %>
</p>

<h1>Participate</h1>
<p>
  If you want to participate in the project, if you spotted a bug or can offer some enhancements, you can easily do so. All the source code of the project is freely available on the GitHub service.
</p>
<p>
  <%= link_to 'http://github.com/rightjs/rightjs-home', 'http://github.com/rightjs/rightjs-home' %>
</p>
<p>
  Please also check the <%= link_to 'participation', '/participate' %> page. There are some basic project descriptions and suggestions.
</p>