<h1>Documentation</h1>

<p>
  To browse the API-documentation, pick up any class on the right, or use
  the search-box to find methods by name
</p>

<h1>Tutorials</h1>
<p>
  There are also several articles available at the <%= link_to 'tutorials section', '/tutorials' %>
</p>