<h1>Welcome Home!</h1><% @title_text = 'Home' %>

<p>
  RightJS is a fancy new JavaScript framework. It fuses modularity of jQuery, extensive nature of Prototype,
  OOP power of Ruby and simplicity in use of Rails.
</p>

<h1 style="color: red">Why ?</h1>
<p>
  RightJS is all about agility and rapid development. The main idea behind the framework is to create a simple tool
  with natural self explanatory interfaces and really low entry level. Tool that supports multiple paradigms, and
  helps you do your job the way you want.
</p>

<h1>It's Friendly</h1>
<p>
  RightJS oriented to the dynamic languages crowd, it does not have all the long names and complex class constructions like many other frameworks written by Java and C++ developers. It has pretty compact but smart and flexible classes construction, short names. And that eventually lets you write clean, readable and compact applications code.
</p>


<h1>It's Compact</h1>
<p>
  RightJS is a really compact framework, it weights just about 30k, but under the hood, it provides almost all the standard goods, native class extensions, advanced DOM manipulations, Ajax support, OOP goods, Cookies handling and basic visual effects too. Everything you need for 99% of cases.
</p>

<h1>It's Fast</h1>
<p>
  RightJS is fast. It easily competes against any of the modern frameworks. The key is that RightJS uses all the native methods your browser can provide. It molds on the browser, wraps existing functionality, and provides missing ones. As the result it is one of the fastest JavaScript frameworks on the day. See the <a href='/benchmarks'>Benchmarks</a> page for more details.
</p>

<h1>It's Modular</h1>
<p>
  RightJS is not just a small and fast core. RightJS is a modular, easy to extend framework, and it extends its qualities
  and philosophy on the plugins development. Take a look at our 5k, super fast drag-n-drop module, or the 11k small, three
  in one, tabs widget. We have almost all the standard plugins and UI modules ready to use.
  <%= link_to "Plugins", "/plugins" %>
</p>