<h1>RightJS Plugins</h1><% @title_text = "Plugins" %>
<p>
  There are two types of plugins for RightJS, one of them is called <%= link_to "Goods", goods_path %>
  and represents a common-use plugins and extensions for RightJS, and the other one is
  <%= link_to "UI", ui_path %> the standard user interface modules.
</p>

<h2>RightJS Goods Modules</h2>
<%= goods_modules_menu %>

<h2>RightJS UI Modules</h2>
<%= ui_modules_menu %>