<p>
  <ul id="scrollable-tabs">
    <ul>
      <li><a href="#tab-1">Tab 1</a></li>
      <li><a href="#tab-2">Tab 2</a></li>
      <li><a href="#tab-3">Tab 3</a></li>
      <li><a href="#tab-4">Tab 4</a></li>
      <li><a href="#tab-5">Tab 5</a></li>
      <li><a href="#tab-6">Tab 6</a></li>
      <li><a href="#tab-7">Tab 7</a></li>
      <li><a href="#tab-8">Tab 8</a></li>
      <li><a href="#tab-9">Tab 9</a></li>
      <li><a href="#tab-10">Tab 10</a></li>
      <li><a href="#tab-11">Tab 11</a></li>
      <li><a href="#tab-12">Tab 12</a></li>
      <li><a href="#tab-13">Tab 13</a></li>
      <li><a href="#tab-14">Tab 14</a></li>
      <li><a href="#tab-15">Tab 15</a></li>
      <li><a href="#tab-16">Tab 16</a></li>
      <li><a href="#tab-17">Tab 17</a></li>
      <li><a href="#tab-18">Tab 18</a></li>
      <li><a href="#tab-19">Tab 19</a></li>
      <li><a href="#tab-20">Tab 20</a></li>
    </ul>
    
    <li id="s-tab-1">Tab 1 Content</li>
    <li id="s-tab-2">Tab 2 Content</li>
    <li id="s-tab-3">Tab 3 Content</li>
    <li id="s-tab-4">Tab 4 Content</li>
    <li id="s-tab-5">Tab 5 Content</li>
    <li id="s-tab-6">Tab 6 Content</li>
    <li id="s-tab-7">Tab 7 Content</li>
    <li id="s-tab-8">Tab 8 Content</li>
    <li id="s-tab-9">Tab 9 Content</li>
    <li id="s-tab-10">Tab 10 Content</li>
    <li id="s-tab-11">Tab 11 Content</li>
    <li id="s-tab-12">Tab 12 Content</li>
    <li id="s-tab-13">Tab 13 Content</li>
    <li id="s-tab-14">Tab 14 Content</li>
    <li id="s-tab-15">Tab 15 Content</li>
    <li id="s-tab-16">Tab 16 Content</li>
    <li id="s-tab-17">Tab 17 Content</li>
    <li id="s-tab-18">Tab 18 Content</li>
    <li id="s-tab-19">Tab 19 Content</li>
    <li id="s-tab-20">Tab 20 Content</li>
  </ul>
</p>
<script type="text/javascript">
// <![CDATA[
  new Tabs('scrollable-tabs', {scrollTabs: true, idPrefix: 's-'});
// ]]>
</script>