<ul>
  <li><a href="#firefox">Firefox</a> 3.5.5 (Gecko/20091102) OS X 10.6.2</li>
  <li><a href="#safari">Safari</a> 4.0.4 (6531.21.10) OS X 10.6.2</li>
  <li><a href="#chrome">Google Chrome</a> 3.0.195.33 Windows XP SP3, VMWare Fusion</li>
  <li><a href="#opera">Opera</a> 10.10 (Build 6790) OS X 10.6.2</li>
  <li><a href="#konq">Konqueror</a> 4.3.2 Ubuntu 9.10, VMWare Fusion</li>
  <li><a href="#ie8">Internet Explorer 8</a> (8.0.6001.18702) Windows XP SP3, VMWare Fusion</li>
  <li><a href="#ie7">Internet Explorer 7</a> (7.0.5730.13) Windows XP SP2, VMWare Fusion</li>
  <li><a href="#ie6">Internet Explorer 6</a> (6.0.2900.2180) Windows XP SP2, VMWare Fusion</li>
</ul>
