<div id="lang-switch">
  <%
    lang_names = {
      'en' => 'English',
      'ru' => 'Русский'
    }
  -%>
  <select onchange="document.location.href=this.value;">
  <% RIGHTJS_LANGUAGES.each do |lang| -%>
    <%= content_tag :option, lang_names[lang], :value => @languages[lang], :selected => @language == lang ? true : nil %>
  <% end -%>
  </select>
</div>