<div id="api-search" class="box">
  <input type="text" value="<%= 'sidebar.Search_API'.t %>" id="api-search-field" />
  <script type="text/javascript">
  // <![CDATA[
    new Autocompleter($('api-search-field').on({
      focus: function() { this._v = this.value(); this.value(''); },
      blur:  function() { this.value(this._v); }
    }), {
      url: '/docs/search/%{search}.js',
      onDone: function() {
        var current = this.first('.current');
        if (current) {
          document.location.href = current.get('title');
        }
        this.input.setValue(this.input._v).blur();
      }
    });
  // ]]>
  </script>
</div>